<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix</title>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/landing.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/sign-up.css">
    </head>
    <body>
        <aside>
            <div class="search">
                <form>
                    <input type="text" placeholder="Search..">
                </form>
            </div>
            <div>
                <span class="menu">Menu</span>
                <ul>
                    <li class="sidebar"><a href="./index.html">Home</a></li>
                    <li class="sidebar"><a href="./sign-up.html">Sign up</a></li>
                    <li class="sidebar" ><a href="./login.html">Log in</a></li>
                    <li class="sidebar" id="bold"><a href="https://www.figma.com/">Contact information</a></li>
                <p class="sidebar-par">
                    Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus,
                    ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum.
                    Sed nulla amet lorem feugiat tempus aliquam.
                </p>
                <p class="sidebar">
                    <img src="../assets/mail.png"> 
                    <a href="https://www.gmail.com/">information@untitled.tld</a>
                </p>
                <p class="sidebar">
                    <img src="../assets/addres.png"> 
                    <a href="https://www.google.com.ar/maps">1234 Somewhere Road #8254 Nashville, TN 00000-0000</a>
                </p>
            </div>
        </aside>
        <div id="container">
            <header>
                <img src="../assets/logo.png" id="logo">
                <label class="trackgenix">Trackgenix </label>
            </header>
            <a href="https://www.figma.com/"><img src="../assets/hamb.jpg" id="hamb" alt="Burger menu"></a>
            <section>
                <div class="signup-container">
                    <h1>Sign Up</h1>
                    <form class="form-container">
                        <div>
                            <input type="text" class="signup-input" placeholder="Name">
                            <input type="text" class="signup-input" placeholder="Surname">
                            <input type="number" class="signup-input" placeholder="DNI">
                            <input type="date" class="signup-input" placeholder="Date of birth">
                            <input type="number" class="signup-input" placeholder="Phone">
                            <input type="text" class="signup-input" placeholder="Addres">
                        </div>
                        <div>
                            <input type="text" class="signup-input" placeholder="City">
                            <input type="number" class="signup-input" placeholder="Zip code">
                            <input type="text" class="signup-input" placeholder="Email">
                            <input type="password" class="signup-input" placeholder="Password">
                            <input type="password" class="signup-input" placeholder="Confirm password">                    
                        </div>
                    </form>
                    <div>
                        <button class="continue-button" value="Continue">Continue</button>
                        <p class="signup">Alredy have an account?  
                            <a class="signup" href="./login.html">Log in now</a></p>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>