main {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hamb {
  width: 30px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 10px;
  color: #000;
}

h2 {
  font-size: 38px;
  font-weight: 450;
  padding-bottom: 3%;
}

.greenline-top {
  border-top: solid 3px #AACE9B;
  margin-top: 20px;
}

#reloj {
  padding-top: 0px;
}

.paragraph-main {
  padding-bottom: 20px;
  width: 100%;
  color: #958888;
}

.items, input {
  width: 100%;
  padding: 5px;
  margin-top: 20px;
  border-radius: 5px;
  border-color: #ebebeb;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

::placeholder { color: #34636E; }

.items-w{
  padding: 5px;
  width: 100%;
  margin-top: 50px;
  justify-content: center;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
}

.form1 {
  padding-bottom: 30px;
  margin-top: 5px;
}

.formca {
  padding-bottom: 30px;
}

.form2 {
  padding-bottom: 100px;
  width:100%;
  height: 20px;
}

.form-marg {
  margin-left: 50px;
  margin-right: 50px;
}

#center {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.button {
  margin-top: 80px;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.button2 {
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}
.history {
  margin-top: 30px;
  border-top: solid 3px #AACE9B;
  padding-bottom: 30px;
  margin-bottom: 25px;

}

.history-display {
  width: 100%;
  margin-bottom: 30px;
}

.item-prod {
  width: 100%;
  color: #958888;
  font-size: 20px;
}

.item-prod-font {
  color: black;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 15px;
  padding-bottom: 15px;
}