main {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hamb {
  width: 20px;
  padding-bottom: 20px;
  align-items: flex-start;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 10px;
  color: #000;
  padding-bottom: 3%;
  align-items: center;
}

h2 {
  font-size: 38px;
  font-weight: 450;
  align-items: center;
  padding-bottom: 3%;
}

#reloj {
  width: 30%;
  padding-top: 0px;
  align-items: center;
}

p.paragraph-main {
  padding-bottom: 20px;
  width: 55%;
  color: #958888;

}

.items, input {
  padding: 5px;
  margin-top: 50px;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

::placeholder { color: #34636E; }

.items-w{
  padding: 5px;
  width: 36%;
  margin-top: 50px;
}
.items-w2{
  padding: 5px;
  width: 36%;
  margin-top: 50px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
}

.form1 {
  padding-bottom: 30px;
  margin-top: 5px;
}

.formca {
  padding-bottom: 30px;
}

.form2 {
  padding-bottom: 10px;
  width:43%;
}

.button {
  margin-top: 20px;
}

.history {
  margin-top: 90px;
  border-top: solid 3px #AACE9B;
  padding-bottom: 30px;
}

.history-display {
  width: 30%;
}

.history {
  margin-bottom: 25px;
}

.item-prod {
  width: 8%;
  color: #958888;

}

.item-prod-font {
  color: black;
  font-weight: bold;  
}

h4 {
  color: #34636E;
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 15px;
}

.greenline {
  border-bottom: solid 3px #AACE9B;
  padding-bottom: 30px;
}